* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: dotted; */
}
:root {
  --lightskyblue: #0d6efd;
  --black: #212529;
}
.navbar {
  margin: 1.563rem 1.563rem 3.75rem 1.563rem;
}
.nav {
  gap: 30px;
}
.nav-link.active {
  color: white;
  background-color: var(--lightskyblue);
}
.nav-link {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--black);
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.fa-solid {
  padding-right: 0.75rem;
}
p {
  margin-bottom: 0;
}
span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
