* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: dotted; */
}
:root {
  --lightskyblue: lightskyblue;
  --black: #212529;
}
.navbar {
  margin: 0px 25px 0px 25px;
}
.nav {
  gap: 30px;
}
.nav-link.active {
  color: white;
  background-color: var(--lightskyblue);
}
.nav-link {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--black);
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.card {
  justify-content: space-between;
}
