* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--darkGray); */
  /* border: dotted; */
}
:root {
  --lightskyblue: #0d6efd;
  --black: #212529;
  --white: rgb(248, 248, 248);
  --whiteSmoke: #fcf8f8;
  --lightGray: #d3d3d3;
  --darkGray: #212427;
  --okGreen: #4bb543;
}
.navbar {
  position: fixed;
  width: 99%;
  z-index: 1;
  left: 0.5%;

  background-color: var(--white);
  box-shadow: 0px 0px 5px 0px var(--lightGray);
}

.nav {
  gap: 30px;
}
.nav-link.active {
  color: var(--white);
  background-color: var(--lightskyblue);
}
.nav-link {
  display: flex;
  gap: 10px;
  align-items: center;
  /* color: var(--white); */
}
.nav-link:focus,
.nav-link:hover {
  color: var(--black);
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  position: relative;
  top: 8.688rem;
  padding-bottom: 3.125rem;
}
.fa-solid {
  padding-right: 0.75rem;
}
p {
  margin-bottom: 0;
}
span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: flex-end;
}
.card:hover {
  box-shadow: 5px 5px 5px 5px var(--lightGray);
  transform: scale(1.06);
  transition: 0.8s;
}
h1,
h5,
p {
  color: var(--darkGray);
}
a {
  text-decoration: none;
}
