.container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
tr {
  vertical-align: middle;
}
.table {
  flex: 2;
}
.tabel-content {
  display: flex;
  gap: 2rem;
}
td {
  height: 20px;
}
.card:hover {
  box-shadow: none;
  transform: none;
  transition: none;
}
.margin-right {
  margin-right: 15px;
}
.margin-left {
  margin-left: 15px;
}
span {
  display: contents;
}
