.container {
  position: relative;
  top: 6.688rem;
  padding-bottom: 3.125rem;
  display: flex;
  justify-content: center;
}
.col-md-4 {
  /* width: 100%; */
}
.row {
  justify-content: center;
  align-items: center;
}

.rounded-start {
  border-radius: 0 !important;
}
#cantitate {
  text-align: center;
}
